// republic


.icon-rep-Troop.Center {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/troop-center.png') round;
  }
  .icon-rep-Trooper.Recruit {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/trooper-recruit.png') round;
  }
  .icon-rep-Clone.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/trooper.png') round;
  }
  .icon-rep-Hvy\..Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-trooper.png') round;
  }
  .icon-rep-Repeater.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/repeater-trooper.png') round;
  }
  .icon-rep-Grenade.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/grenade-trooper.png') round;
  }
  .icon-rep-Anti-Air.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/anti-air-trooper.png') round;
  }
  
  .icon-rep-Hvy\..Anti-Air.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-anti-air-trooper.png') round;
  }
  .icon-rep-Mounted.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/mounted-trooper.png') round;
  }
  .icon-rep-Hvy\..Mounted.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-mounted-trooper.png') round;
  }
  .icon-rep-Adv\..Mounted.Trooper {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-mounted-trooper.png') round;
  }
  
  .icon-rep-Macro.Binoculars {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/macro-binoculars.png') round;
  }
  
  .icon-rep-Lighter.Armor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/lighter-armor.png') round;
  }
  .icon-rep-Dexterity {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/dexterity.png') round;
  }
  .icon-rep-Droid.Assistants {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/droid-assistants.png') round;
  }
  
  .icon-rep-Explosive.Yields.Increase {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/explosive-yields-increased.png') round;
  }
  
  .icon-rep-Portable.Scanners {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/portable-scanners.png') round;
  }
  
  .icon-rep-Integrated.Rangefinder {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/integrated-rangefinder.png') round;
  }
  
  .icon-rep-Jedi.Temple {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-temple.png') round;
  }
  
  .icon-rep-Jedi.Padawan {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-padawan.png') round;
  }
  .icon-rep-Jedi.Knight {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-knight.png') round;
  }
  .icon-rep-Jedi.Master {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-master.png') round;
  }
  .icon-rep-Force.Stamina {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-stamina.png') round;
  }
  .icon-rep-Force.Strong {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-strong.png') round;
  }
  .icon-rep-Force.Agility {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-agility.png') round;
  }
  .icon-rep-Faith.in.the.Force {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/faith-in-the-force.png') round;
  }
  .icon-rep-Force.Concentration {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-concentration.png') round;
  }
  .icon-rep-Force.Meditation {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-meditation.png') round;
  }
  .icon-rep-Force.Perception {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-perception.png') round;
  }
  
  .icon-rep-Jedi.Mind.Trick {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-mind-trick.png') round;
  }
  
  .icon-rep-Force.Purge {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-purge.png') round;
  }
  
  .icon-rep-Airbase {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/airbase.png') round;
  }
  .icon-rep-Air.Transport {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/air-transport.png') round;
  }
  .icon-rep-Bomber {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/bomber.png') round;
  }
  .icon-rep-Enh.Bomber {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/enh-bomber.png') round;
  }
  .icon-rep-Adv.Bomber {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-bomber.png') round;
  }
  .icon-rep-Fighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/fighter.png') round;
  }
  .icon-rep-Fast.Fighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/fast-fighter.png') round;
  }
  .icon-rep-Adv.Fighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-fighter.png') round;
  }
  .icon-rep-Flight.School {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/flight-school.png') round;
  }
  .icon-rep-Advanced.Flight.School {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/advanced-flight-school.png') round;
  }
  .icon-rep-Enlarged.Bomb.Hold {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/enlarged-bomb-hold.png') round;
  }
  .icon-rep-Attacker {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/attacker.png') round;
  }
  .icon-rep-Efficient.Manufacturing {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/efficient-manufacturing.png') round;
  }
  .icon-rep-Shield.Modifications {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/shield-modifications.png') round;
  }
  .icon-rep-Armored.Platework {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/armored-platework.png') round;
  }
  
  .icon-rep-Mech.Factory {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/mech-factory.png') round;
  }
  
  .icon-rep-Scout {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/scout.png') round;
  }
  
  .icon-rep-Strike.Mech {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/strike-mech.png') round;
  }
  .icon-rep-Mech.Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/mech-destroyer.png') round;
  }
  .icon-rep-Hvy.Mech.Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-mech-destroyer.png') round;
  }
  .icon-rep-Upgraded.Generator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/upgraded-generator.png') round;
  }
  .icon-rep-Transport.Mech {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/transport-mech.png') round;
  }
  .icon-rep-Assault.Mech {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/assault-mech.png') round;
  }
  
  .icon-rep-Shipyard {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/shipyard.png') round;
  }
  .icon-rep-Utility.Trawler {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/utility-trawler.png') round;
  }
  .icon-rep-Aqua.Harvester {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/aqua-harvester.png') round;
  }
  .icon-rep-Sensor.Buoy {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/sensor-buoy.png') round;
  }
  
  .icon-rep-Lt.Frigate {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/lt-frigate.png') round;
  }
  .icon-rep-Frigate {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/frigate.png') round;
  }
  .icon-rep-Adv.Frigate {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-frigate.png') round;
  }
  .icon-rep-Transport.Ship {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/transport-ship.png') round;
  }
  
  .icon-rep-Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/destroyer.png') round;
  }
  .icon-rep-Hvy.Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-destroyer.png') round;
  }
  .icon-rep-Anti-Air.Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/anti-air-destroyer.png') round;
  }
  .icon-rep-Hvy.Anti-Air.Destroyer {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-anti-air-destroyer.png') round;
  }
  
  .icon-rep-Monitor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/monitor.png') round;
  }
  .icon-rep-Hvy.Monitor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-monitor.png') round;
  }
  .icon-rep-Cruiser {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cruiser.png') round;
  }
  .icon-rep-Adv.Cruiser {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-cruiser.png') round;
  }
  
  .icon-rep-Hvy.Weapons.Factory {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-weapons-factory.png') round;
  }
  
  .icon-rep-Pummel {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/pummel.png') round;
  }
  
  .icon-rep-Artillery {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/artillery.png') round;
  }
  
  .icon-rep-Anti-Air.Mobile {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/anti-air-mobile.png') round;
  }
  
  .icon-rep-Hvy.Anti-Air.Mobile {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-anti-air-mobile.png') round;
  }
  
  .icon-rep-Strengthened.Frame {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/strengthened-frame.png') round;
  }
  
  
  .icon-rep-Air.Cruiser {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/air-cruiser.png') round;
  }
  
  .icon-rep-Cannon {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cannon.png') round;
  }
  
  .icon-rep-Bothan.Spy.Net {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/bothan-spy-net.png') round;
  }
  
  .icon-rep-Attack.Programming {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/attack-programming.png') round;
  }
  
  .icon-rep-Automated.Processes {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/automated-processes.png') round;
  }
  .icon-rep-Presidium {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/presidium.png') round;
  }
  
  .icon-rep-Bounty.Hunter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/bounty-hunter.png') round;
  }
  
  .icon-rep-Fortress {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/fortress.png') round;
  }
  
  .icon-rep-Worker {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/worker.png') round;
  }
  
  .icon-rep-Medic {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/medic.png') round;
  }
  
  .icon-rep-Basic.Training {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/basic-training.png') round;
  }
  
  .icon-rep-Sensor.Beacon {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/sensor-beacon.png') round;
  }
  
  .icon-rep-Sensor.Array {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/sensor-array.png') round;
  }
  
  .icon-rep-Upgraded.Motivator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/upgraded-motivator.png') round;
  }
  
  .icon-rep-Optimized.Motivator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/optimized-motivator.png') round;
  }
  
  .icon-rep-Bacta.Tanks {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/bacta-tanks.png') round;
  }
  
  .icon-rep-Command.Center {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/command-center.png') round;
  }
  
  .icon-rep-War.Center {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/war-center.png') round;
  }
  .icon-rep-Basic.Armor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/basic-armor.png') round;
  }
  .icon-rep-Light.Armor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/light-armor.png') round;
  }
  .icon-rep-Hvy.Armor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-armor.png') round;
  }
  .icon-rep-Elevation.Tracking {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/elevation-tracking.png') round;
  }
  .icon-rep-External.Sensor.Pod {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/external-sensor-pod.png') round;
  }
  .icon-rep-Targeting.Sensor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/targeting-sensor.png') round;
  }
  .icon-rep-Light.Plating {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/light-plating.png') round;
  }
  .icon-rep-Medium.Plating {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/medium-plating.png') round;
  }
  .icon-rep-Hvy.Plating {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-plating.png') round;
  }
  .icon-rep-Primary.Focusing.Coils {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/primary-focusing-coils.png') round;
  }
  .icon-rep-Cooling.Sleeves {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cooling-sleeves.png') round;
  }
  
  .icon-rep-Advanced.Power.Pack {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/advanced-power-pack.png') round;
  }
  .icon-rep-Redesigned.Specifications {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/redesigned-specifications.png') round;
  }
  
  .icon-rep-Grenadier.Training {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/grenadier-training.png') round;
  }
  .icon-rep-Advanced.Scanning {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/advanced-scanning.png') round;
  }
  
  .icon-rep-Spaceport {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/spaceport.png') round;
  }
  
  .icon-rep-Cargo.Hovercraft {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cargo-hovercraft.png') round;
  }
  .icon-rep-Hutt.Endorsement {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hutt-endorsement.png') round;
  }
  
  .icon-rep-Galactic.Banking {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/galactic-banking.png') round;
  }
  
  .icon-rep-Galactic.Trade.Comm {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/galactic-trade-commission.png') round;
  }
  .icon-rep-Holonet.Tranceiver {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/holonet-tranceiver.png') round;
  }
  
  
  .icon-rep-Cargo.Freighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cargo-freighter.png') round;
  }
  
  .icon-rep-Research.Center {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/research-center.png') round;
  }
  
  .icon-rep-Durasteel.Suppt.Beams {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/durasteel-support-beams.png') round;
  }
  
  .icon-rep-Permacite.Plating {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/permacite-plating.png') round;
  }
  
  .icon-rep-Ion.Accu.Accelerator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/ion-accu-accelerator.png') round;
  }
  
  .icon-rep-Rotation.Bearings {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/rotation-bearings.png') round;
  }
  
  .icon-rep-Hvy.Weapons.Engineers {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-weapons-engineers.png') round;
  }
  
  .icon-rep-Power.Calibrator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/power-calibrator.png') round;
  }
  
  .icon-rep-Tracking.and.Target.Comptr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/tracking-and-target-computers.png') round;
  }
  
  .icon-rep-AA.Battery {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/aa-battery.png') round;
  }
  
  .icon-rep-Homing.Sensors {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/homing-sensors.png') round;
  }
  
  .icon-rep-Carbon.Proc.Ctr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/carbon-proc-ctr.png') round;
  }
  
  .icon-rep-Handheld.Carbon.Extr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/handheld-carbon-extr.png') round;
  }
  
  .icon-rep-Enhanced.Carbon.Extr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/enhanced-carbon-extr.png') round;
  }
  
  .icon-rep-Hvy.Duty.Carbon.Extr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-duty-carbon-extr.png') round;
  }
  
  .icon-rep-Food.Proc.Ctr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/food-proc-ctr.png') round;
  }
  
  .icon-rep-Irrigation {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/irrigation.png') round;
  }
  .icon-rep-Farm {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/farm.png') round;
  }
  
  .icon-rep-Harvesting.Program {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/harvesting-program.png') round;
  }
  
  
  .icon-rep-Adv.Harvest.Prgm {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-harvest-program.png') round;
  }
  
  .icon-rep-Animal.Nursery {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/animal-nursery.png') round;
  }
  .icon-rep-Stimulants {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/stimulants.png') round;
  }
  
  .icon-rep-Genetics {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/genetics.png') round;
  }
  
  .icon-rep-Cloning {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/cloning.png') round;
  }
  
  .icon-rep-Nova.Crystal.Proc.Ctr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/nova-proc-ctr.png') round;
  }
  .icon-nova-Beamdrill.Mining {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/beamdrill-mining-nova.png') round;
  }
  
  .icon-nova-Hvy.Duty.Beamdrill {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-duty-beamdrill-nova.png') round;
  }
  
  .icon-rep-Ore.Proc.Ctr {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/ore-proc-ctr.png') round;
  }
  
  .icon-ore-Beamdrill.Mining {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/beamdrill-mining-ore.png') round;
  }
  
  .icon-ore-Hvy.Duty.Beamdrill {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-duty-beamdrill-ore.png') round;
  }
  .icon-rep-Prefab.Shelter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/prefab-shelter.png') round;
  }
  .icon-rep-Gate {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/gate.png') round;
  }
  
  .icon-rep-Light.Wall {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/light-wall.png') round;
  }
  .icon-rep-Medium.Wall {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/medium-wall.png') round;
  }
  .icon-rep-Shield.Wall {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/shield-wall.png') round;
  }
  
  .icon-rep-Hvy.Wall {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-wall.png') round;
  }
  .icon-rep-Monument {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/monument.png') round;
  }
  .icon-rep-Shield.Generator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/shield-generator.png') round;
  }
  
  .icon-rep-Strengthened.Superstructure {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/strengthened-superstructure.png') round;
  }
  .icon-rep-Supercondctg.Shields {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/superconducting-shields.png') round;
  }
  .icon-rep-Light.Turret {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/light-turret.png') round;
  }
  
  .icon-rep-Medium.Turret {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/medium-turret.png') round;
  }
  
  .icon-rep-Advanced.Turret {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/advanced-turret.png') round;
  }
  .icon-rep-Anti-Air.Turret {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/anti-air-turret.png') round;
  }
  
  .icon-rep-Adv.Anti-Air.Turret {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-anti-air-turret.png') round;
  }
  
  .icon-rep-Power.Core {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/power-core.png') round;
  }
  .icon-rep-Power.Droid {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/power-droid.png') round;
  }
  .icon-rep-Strengthened.Assembly {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/strengthened-assembly.png') round;
  }
  
  .icon-rep-Efficient.Buildings {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/efficient-buildings.png') round;
  }
  
  .icon-rep-Power.Core.Shielding {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/power-core-shielding.png') round;
  }
  .icon-rep-Mechanics {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/mechanics.png') round;
  }
  .icon-rep-Advanced.Propulsion {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/advanced-propulsion.png') round;
  }
  .icon-rep-Redoubled.Efforts {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/redoubled-efforts.png') round;
  }
  .icon-rep-Sight.Beyond.Sight {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/sight-beyond-sight.png') round;
  }
  .icon-rep-Jedi.Starfighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/jedi-starfighter.png') round;
  }
  .icon-rep-Adv.Jedi.Starfighter {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-jedi-starfighter.png') round;
  }
  .icon-rep-Gunship.Armaments {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/gunship-armaments.png') round;
  }
  .icon-rep-Kaminoan.Cloners {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/kaminoan-cloners.png') round;
  }
  .icon-rep-Galactic.Senate.Hub {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/galactic-senate-hub.png') round;
  }
  .icon-rep-Upgraded.Med.Droids {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/upgraded-med-droids.png') round;
  }
  .icon-rep-Kaminoan.Refit {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/kaminoan-refit.png') round;
  }

  .icon-rep-Hvy.Strike.Mech {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-generator.png') round;
  }
  .icon-rep-Hvy.Artillery {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-artillery.png') round;
  }
  .icon-rep-Hvy.Pummel {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-pummel.png') round;
  }
  .icon-rep-Reinforced.Frame {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/reinforced-frame.png') round;
  }
  .icon-rep-Anti-Air.Retrofit {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/anti-air-retrofit.png') round;
  }
  .icon-rep-Sentry.Post {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/sentry-post.png') round;
  }
  
  
  .icon-rep-Hvy.Artillery {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-artillery.png') round;
  }
  
  
  .icon-rep-Hvy.Assault.Mech {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/hvy-assault-mech.png') round;
  }
  
  .icon-rep-Technicians {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/technicians.png') round;
  }
  .icon-rep-Force.Influence {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/force-influence.png') round;
  }
  .icon-rep-Interceptor {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/interceptor.png') round;
  }
  .icon-rep-Advanced.Generator {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-generator.png') round;
  }
  .icon-rep-Adv.Redesign {
    background: url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630928553/red_x.png') round, url('https://res.cloudinary.com/swbgtechtree/image/upload/v1630679314/rep/adv-redesign.png') round;
  }